<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="/utils.js"></script>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" type="text/css" href="/styles.css" />
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Der tok an!</title>
<link rel="icon" type="image/svg+xml" href="/icon.svg" />
<meta name="description" content="Dertokan.no is a fishing map and catch registration site for local fishing areas in Norway." />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="https://dertokan.no/s/<%= site %>" />
<meta property="og:title" content="Der tok an!" />
<meta property="og:description" content="Fishing map and catch registration for local fishing areas." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://dertokan.no/s/<%= site %>" />
<meta property="og:image" content="https://dertokan.no/icon.svg" />