<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Salmon Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/leilighet.ejs">Rent Apartment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/stolen.ejs">Rent Cottage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/login.ejs">Login</a>
  </li>
</ul>
