<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Fangst Kart</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="/leilighet">Leig leilighet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/stolen">Leig Hytte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/fishLicense">Fiskekort</a>
  </li> -->
  <li class="nav-item loggedOut" style="margin-left: auto">
    <a class="nav-link" href="/register">Registrer</a>
  </li>
  <li class="nav-item loggedInAdmin" style="display: none">
    <a class="nav-link" href="/addFish">Godkjenn fangst</a>
  </li>
  <li class="nav-item loggedInUser" style="display: none">
    <a class="nav-link" href="/addFishUser">Din oversikt</a>
  </li>
  <li class="nav-item loggedIn" style="display: none">
    <a class="nav-link primary-nav-link" href="/submitFish">Legg til fangst</a>
  </li>
  <li class="nav-item loggedOut">
    <a class="nav-link" href="/login">Logg inn</a>
  </li>

  <!-- <li class="nav-item loggedIn">
    <p class="nav-link">Hello <span class="data-username"> </span></p>
  </li> -->
  <li class="nav-item loggedIn" style="margin-left: auto">
    <a class="nav-link" href="/logout">Logg ut</a>
  </li>
</ul>

<script>
  async function hideLoggedInElements() {
    const response = await fetch("/users/me", {
      headers: { authorization: `Bearer ${localStorage.getItem("token")}` },
    });
    if (response.status !== 200) {
      document.querySelectorAll(".loggedIn").forEach((ele) => {
        return;
      });
    }
    const data = await response.json();
    console.log(data);

    if (data.username) {
      document.querySelectorAll(".loggedIn").forEach((ele) => {
        ele.style.display = "revert";
      });
      document.querySelectorAll(".loggedOut").forEach((ele) => {
        ele.style.display = "none";
        ele.remove();
      });
      if (data.role === "admin") {
        document.querySelectorAll(".loggedInAdmin").forEach((ele) => {
          ele.style.display = "revert";
        });
      } else {
        document
          .querySelectorAll(".loggedInAdmin")
          .forEach((ele) => ele.remove());
      }
    }
    if (data.role === "user") {
      document.querySelectorAll(".loggedInUser").forEach((ele) => {
        ele.style.display = "revert";
      });
    } else {
      document.querySelectorAll(".loggedInUser").forEach((ele) => ele.remove());
    }
  }
  hideLoggedInElements();
</script>
