<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dertokan</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container mt-5">
      <h2 class="text-center mb-4">Godkjenn Fangst</h2>

      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Navn</th>
            <th>Vekt</th>
            <th>Lengde</th>
            <th>Agn</th>
            <th>Dato</th>
            <th>Bilde</th>
            <th>Publiser</th>
            <th>Slett</th>
          </tr>
        </thead>
        <tbody id="publish-table-body"></tbody>
      </table>
    </div>
    <script>
      function getUnPublishedPins() {
        fetch("/pins/unpublished")
          .then((res) => res.json())
          .then((result) => {
            pins = result;
            onGotUnpublishedPins();
          });
      }

      function onGotUnpublishedPins() {
        const tableBody = document.getElementById("publish-table-body");
        tableBody.innerHTML = "";

        pins.forEach((pin) => {
          const editButton = `<a href="/edit/${pin.id}" class="btn btn-warning btn-sm edit-btn" data-id="${pin.id}">Rediger</a>`;
          const row = document.createElement("tr");
          row.innerHTML = `
              <td>${pin.name}</td>
              <td>${pin.weight}</td>
              <td>${pin.length}</td>
              <td>${pin.bait}</td>
              <td>${pin.date}</td>
              <td>
  ${
    pin.image
      ? `<a href="${pin.image}" target="_blank">
           <img style="width: 75px; height: 75px; object-fit: contain;" src="${pin.image}">
         </a>`
      : "-"
  }
</td>
              <td >${editButton}</td>
          <td> <button id="deletebtn${
            pin.id
          }" class="btn btn-danger btn-sm">Slett</button></td>

            `;
          tableBody.appendChild(row);
          const deletbtn = document
            .getElementById(`deletebtn${pin.id}`)
            .addEventListener("click", async () => {
              const doublecheck = confirm(
                `Er du sikker du vil slette denne fangsten fra ${pin.name}?`
              );
              if (doublecheck === true) {
                let response = await fetch(`/pins/${pin.id}`, {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json",
                  },
                });
                if (response.ok) {
                  window.location.reload();
                }
              }
            });
        });
      }
      document.addEventListener("DOMContentLoaded", () => {
        getUnPublishedPins();
      });
    </script>
  </body>
</html>
