<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      window.coords = <%- JSON.stringify(coords) %>;
      window.coords.northeast = window.coords.northeast.map((cord) => {
       return parseFloat(cord)
      })
      window.coords.southwest = window.coords.southwest.map((cord) => {
       return parseFloat(cord)
      })

      window.coords.center = window.coords.center.map((cord) => {
       return parseFloat(cord)
      })
      console.log(window.coords)
    </script>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div id="map"></div>
    <div class="center-container">
      <div class="input-group">
        <div class="searchContainer">
          <input
            id="searchInput"
            type="search"
            class="form-control rounded"
            placeholder="Søk etter navn"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button
            id="searchButton"
            type="button"
            class="btn btn-outline-primary"
            data-mdb-ripple-init
          >
            Søk
          </button>
        </div>
        <div class="filters">
          <h5>Filtrer år:</h5>
          <div>
            <input type="checkbox" id="input2024" name="2024" />
            <label for="2024">2024</label>
          </div>
          <div>
            <input type="checkbox" id="input2025" name="2025" checked />
            <label for="2025">2025</label>
          </div>
          <div>
            <input type="checkbox" id="input2026" name="2026" checked />
            <label for="2026">2026</label>
          </div>
        </div>
      </div>
    </div>
    <h5 id="avgWeight" class="text-center mb-4"></h5>
    <div
      id="cardList"
      style="
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
      "
    >
      <div class="fishCard">
        <div>
          <h3 class="h4">Flyndre, 22kg</h3>
          <h4 class="h6">Olav Kvæstad - 22/06/26</h4>
          <span>123cm - Sluk</span>
        </div>
        <div>
          <div
            style="
              background-image: url(&quot;http://res.cloudinary.com/djem6qqce/image/upload/v1773920656/image_1773920655486.jpg&quot;);
            "
          ></div>

          <img
            src="http://res.cloudinary.com/djem6qqce/image/upload/v1773920656/image_1773920655486.jpg"
          />
        </div>
      </div>
      <div class="fishCard">
        <div>
          <h3 class="h4">Flyndre, 22kg</h3>
          <h4 class="h6">Olav Kvæstad Bjerga - 22/06/26</h4>
          <span>123cm - Sluk</span>
        </div>
        <div>
          <div
            style="
              background-image: url(&quot;http://res.cloudinary.com/djem6qqce/image/upload/v1773920807/image_1773920806486.jpg&quot;);
            "
          ></div>

          <img
            src="http://res.cloudinary.com/djem6qqce/image/upload/v1773920807/image_1773920806486.jpg"
          />
        </div>
      </div>
      <div class="fishCard">
        <div>
          <h3 class="h4">Flyndre, 22kg</h3>
          <h4 class="h6">Olav Kvæstad - 22/06/26</h4>
          <span>123cm - Sluk</span>
        </div>
        <div>
          <div
            style="
              background-image: url(&quot;http://res.cloudinary.com/djem6qqce/image/upload/v1773920656/image_1773920655486.jpg&quot;);
            "
          ></div>
          <img
            src="http://res.cloudinary.com/djem6qqce/image/upload/v1773920656/image_1773920655486.jpg"
          />
        </div>
      </div>
    </div>
    <script src="/client.js"></script>
  </body>
</html>
