<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />

    <script src="/client.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg8QZll2IyIgnPY3RZ8FYfI3hUw_HVdZM&loading=async&callback=initMap"></script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
