<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>dertokan</title>
    <%- include("./partials/head.ejs") %>
  </head>

  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="prompt">
      <h1>Logg inn</h1>
      <section>
        <label for="username">Brukernavn</label>
        <input
          id="username"
          name="username"
          type="text"
          autocomplete="username"
          required
          autofocus
        />
      </section>
      <section>
        <label for="password">Passord</label>
        <input
          id="password"
          name="password"
          type="password"
          autocomplete="current-password"
          required
        />
      </section>
      <button class="btn btn-primary" type="submit" id="signIn">
        Logg inn
      </button>
      <hr />
    </div>
    <script>
      const submitBtn = document.querySelector("#signIn");
      submitBtn.addEventListener("click", (event) => {
        event.preventDefault();
        const body = {
          username: document.querySelector("#username").value,
          password: document.querySelector("#password").value,
        };
        console.log(body);
        fetch("/users/login", {
          method: "POST",
          body: JSON.stringify(body),
          headers: { "Content-Type": "application/json" },
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            if (data.error) {
              alert(data.error);
              return;
            }
            localStorage.setItem("token", data.token);
            window.location.href = "/";
          });
        return false;
      });
    </script>
  </body>
</html>
