<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stølen</title>
    <%- include('./partials/head.ejs') %>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <!-- https://www.airbnb.com.au/help/article/923 -->
  </body>
</html>
